.home {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow effect */
  transition: box-shadow 0.3s; /* Add a transition for smooth animation */
  padding: 1px;
  /* margin-top: 150px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.intro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro > div:first-child {
  flex: 1;
}

.intro > div:last-child {
  flex: 2;
}

.intro > div:last-child img {
  height: 200px;
  width: 300px;
}

.intro > div:last-child h4 {
  margin-top: 10px;
}

.upperdiv {
  background-color: #2ec7c0;
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
}

.photo img {
  margin: 90px;
  border-radius: 100%;
}

.text-div {
  text-align: center;
  font-size: large;
}

.heading {
  font-family: poppin;
}
.para {
  color: black;
  font-size: 20px;
  margin: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.name {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(10, 10, 10, 0.5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.position {
  font-size: 15px;
  font-family: serif;
}
.resume-btn {
  padding: 20px;
  margin: 40px;
  background-color: #2ec7c0;
  color: white;
  border-radius: 20px;
}
.component-carr-skill {
  display: flex;
  flex-direction: row;
}

@media (min-width: 200px) and (max-width: 800px) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .intro {
    background-color: darkred;
    width: 100%;
    border-radius: 30px;
  }
  .component-carr-skill {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
}
