.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}
.res-top {
  /* margin-top: 100px; */
}
.project {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 30px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  padding: 15px;
  background: #bdc3c7;
  box-shadow: inset 13px 13px 28px #9fa4a7, inset -13px -13px 28px #dbe2e7;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.project img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project:hover p {
  opacity: 1;
}
.work {
  color: chocolate;
  background-color: beige;
  text-align: center;
  text-shadow: #171717;
  text-decoration: solid;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
.outro {
  color: chocolate;
  background-color: burlywood;
  text-align: center;
  text-shadow: #171717;
  text-decoration: solid;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: inherit;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 200px) and (max-width: 755px) {
  .project-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns */
    justify-content: space-between;
    /* Creates 3 rows */
  }
  .project img {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 8px;
  }
}
