
.container {
	margin: auto;
	padding: 20px;
	background-color: #112D4E;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
    color: aliceblue;
}

.job {
	margin-bottom: 30px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
}

h2 {
	color: #e26506;
	margin-bottom: 10px;
    font-size: 30px;
}

h3 {
	color: #999;
	margin-bottom: 10px;
}

p {
	color: #666;
	line-height: 1.5;
}
