.tech-stack-container {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #78350f;
  }
  .skills{
    text-align: center;
    background-color: whitesmoke;
    background-color: #78350f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #dcdcdc;
  }
  
  ul {
    display: flex;
  flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
.li-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px #dcdcdc;
  }
  
  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  