@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital@1&display=swap');
.footer-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    font-size: 2rem;
    color: #555;
    margin: 0 1rem;
  }
  
  .icon:hover {
    color: #007bff;
  }
  .footer-text{
    color: #e26506;
    font-family: 'Josefin Sans', sans-serif;
  }
  