@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital@1&display=swap");
.footer-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 2rem;
  color: #555;
  margin: 0 1rem;
  box-shadow: 10px 10px 15px #303030, -10px -10px 15px #202020;
  padding: 10px;
  border-radius: 17px;
}

.icon:hover {
  color: #007bff;
}
.footer-text {
  color: #5b5b5e;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
